<%= simple_form_for(@category) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
	<%= f.input :name %>
	<%= f.input :id %>
</div>

<div class="form-actions">
	<%= f.button :submit %>
</div>

<div class="group">
  <%= select_tag( :category_id, options_for_select(@categories), :prompt => '类型')%>
</div>



<% end %>
